{% extends base.html %}

{% block content %}


  <form action="wod_submit" method="get">
    WOD Name: <input type="text" name="name" id="name" ><br>
    Date (dd/mm/yyyy): <input type="text" name="date" id="date" ><br>
    Description <br>
    <textarea name="wod" id="wod" rows="10" cols="50">
    </textarea><br>
    Tags (comma separated): <input type="text" name="tags" id="tags" ><br>
    Equipment Free? <input type="checkbox" name="equipment" value="False" id="equipment"><br>
    
   <input type="submit" value="Submit">
  </form>
    
{% end %}
